/* Stylesheet for the layout of the page */

/* Main */

table {
    table-layout: fixed;
}

/* Timer */

#timer {
    position: fixed;
    top: calc(50vh - 30vmin);
    left: calc(50vw - 37.5vmin);
    height: 60vmin;
    width: 75vmin;
    text-align: center;
    vertical-align: middle;
}
@media (max-width: 175vh) and (min-width: 50vh) { /*mid and thin screens*/
    #timer {
        top: 0;
    }
}@media (max-width: 50vh) { /*ultra-thin screen*/
    #timer {
        top: calc(25vh - 30vmin);
    }
}

#timer > p {
    margin: 0;
    padding: 0;
}

#timer_landing {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Stats */

#stats {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: calc(50vw - 40vmin);
    align-items: stretch;
}
@media (max-width: 175vh) and (min-width: 100vh){ /*mid screen*/
    #stats {
        flex-direction: row;
        height: 40vh;
        width: 100%
    }
}
@media (max-width: 100vh) { /*thin screen*/
    #stats {
        height: calc(100vh - 60vmin);
        width: 100%
    }
}
@media (max-width: 50vh) { /*ultra-thin screen*/
    #stats {
        height: 50vh;
    }
}

#stats_main {
    width: 100%;
    height: fit-content;
}
#stats_list {
    width: 100%;
}
@media (max-width: 175vh) and (min-width: 100vh){ /*mid screen*/
    #stats_main {
        height: 98%;
        width: 45%;
    }
    #stats_list {
        height: 98%;
        width: 55%
    }
}

#stats_main_table {
    margin: 1%;
    width: 98%;
    height: 98%;
}
#stats_list_table {
    margin: 1%;
    width: 98%;
}

/* Session menu */

#sessions {
    z-index: 1;
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#sessions > div {
    position: absolute;
    top: 20vh;
    left: 15vw;
    height: 60vh;
    width: 70vw;
    justify-content: center;
}

#sessions_list, #sessions_options {
    position: absolute;
    left: 2.5vw;
    width: 65vw;
}
#sessions_list {
    top: 2.5vh;
    height: 47.5vh;
}
#sessions_options {
    bottom: 5vh;
    height: 5vh;
}

#sessions table {
    width: 100%;
}
#sessions_options_table {
    height: 100%;
    text-align: center;
}

#sessions_options_table td {
    box-sizing: border-box;
}

/* Session Editor */

#sessions_editor {
    display: none;
}

#sessions_editor_textArea {
    position: absolute;
    top: 2.5vh;
    left: 2.5vw;
    width: 65vw;
    height: 45vh;
    resize: none;
    padding: 4px;
    box-sizing: border-box;
}

#sessions_eOptions {
    position: absolute;
    left: 2.5vw;
    width: 65vw;
    bottom: 5vh;
    height: 5vh;
}

#sessions_eOptions_table {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}