/* Stylesheet for the layout of the page */

/* Main */

table {
    table-layout: fixed;
}

/* Timer */

#timer {
    position: fixed;
    top: calc(50vh - 30vmin);
    left: calc(50vw - 37.5vmin);
    height: 60vmin;
    width: 75vmin;
    text-align: center;
    vertical-align: middle;
}
@media (max-width: 175vh) { /*mid and thin screens*/
    #timer {
        top: 0;
    }
}

#timer > p {
    margin: 0;
    padding: 0;
}

#timer_landing {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Stats */

#stats {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: calc(50vw - 40vmin);
    align-items: stretch;
}
@media (max-width: 175vh) and (min-width: 100vh){ /*mid screen*/
    #stats {
        flex-direction: row;
        height: 40vh;
        width: 100%
    }
}
@media (max-width: 100vh) { /*thin screen*/
    #stats {
        height: calc(100vh - 60vmin);
        width: 100%
    }
}
@media (max-width: 50vh) {
    #stats {
        height: 50vh;
    }
}

#stats_main {
    width: 100%;
    height: fit-content;
}
#stats_list {
    width: 100%;
}
@media (max-width: 175vh) and (min-width: 100vh){ /*mid screen*/
    #stats_main {
        height: 98%;
        width: 45%;
    }
    #stats_list {
        height: 98%;
        width: 55%
    }
}

#stats_main > table {
    margin: 1%;
    width: 98%;
    height: 98%;
}
#stats_list > table {
    margin: 1%;
    width: 98%;
}