/* Stylesheet for the layout of the page */

body {
    height: 100vh;
    overflow: hidden;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    height: 150vh;
    width: 150vw;
    touch-action: none;
}

.tile {
    position: absolute;
}

.tile:nth-child(1) {
    top: 4%;
    left: 8%;
    height: 20%;
    width: 15%;
}
.tile:nth-child(2) {
    top: 11%;
    left: 31%;
    height: 21%;
    width: 16%;
}
.tile:nth-child(3) {
    top: 36%;
    left: 4%;
    height: 23%;
    width: 13%;
}
.tile:nth-child(4) {
    top: 44%;
    left: 20%;
    height: 20%;
    width: 18%;
}
.tile:nth-child(5) {
    top: 8%;
    left: 53%;
    height: 27%;
    width: 13%
}
.tile:nth-child(6) {
    top:17%;
    left: 75%;
    height: 21%;
    width: 16%;
}
.tile:nth-child(7) {
    top: 46%;
    left: 63%;
    height: 32%;
    width: 14%;
}
.tile:nth-child(8) {
    top: 43%;
    left: 81%;
    height: 23%;
    width: 17%;
}
.tile:nth-child(9) {
    top: 76%;
    left: 80%;
    height: 17%;
    width: 15%;
}
.tile:nth-child(10) {
    top: 70%;
    left: 10%;
    height: 27%;
    width: 14%;
}
.tile:nth-child(11) {
    top: 69%;
    left: 27%;
    height: 22%;
    width: 19%;
}
.tile:nth-child(12) {
    top: 64%;
    left: 50%;
    height: 30%;
    width: 11%;
}