/* Stylesheet for the layout of the page */

html {
    overflow: hidden;
    overscroll-behavior: none;
}
body {
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    height: 150vmax;
    width: 150vmax;
    touch-action: none;
}

.tile {
    position: absolute;
}

.tile:nth-child(1) {
    top: 8%;
    left: 7.5%;
    height: 12%;
    width: 18%;
}
.tile:nth-child(2) {
    top: 11%;
    left: 33%;
    height: 15%;
    width: 13%;
}
.tile:nth-child(3) {
    top: 25.5%;
    left: 13%;
    height: 18%;
    width: 13.5%;
}
.tile:nth-child(4) {
    top: 30%;
    left: 30%;
    height: 11%;
    width: 24%;
}
.tile:nth-child(5) {
    top: 9%;
    left: 51%;
    height: 11%;
    width: 18%
}
.tile:nth-child(6) {
    top: 24%;
    left: 60%;
    height: 17%;
    width: 14%;
}
.tile:nth-child(7) {
    top: 12%;
    left: 78%;
    height: 18%;
    width: 12%;
}
.tile:nth-child(8) {
    top: 34%;
    left: 76.7%;
    height: 11%;
    width: 18%;
}
.tile:nth-child(9) {
    top: 48.5%;
    left: 64%;
    height: 12%;
    width: 22%;
}
.tile:nth-child(10) {
    top: 65%;
    left: 79%;
    height: 19%;
    width: 14%;
}
.tile:nth-child(11) {
    top: 69%;
    left: 54%;
    height: 17%;
    width: 17%;
}
.tile:nth-child(12) {
    top: 58%;
    left: 37%;
    height: 9%;
    width: 20%;
}
.tile:nth-child(13) {
    top: 74%;
    left: 31%;
    height: 13%;
    width: 17%;
}
.tile:nth-child(14) {
    top: 61%;
    left: 9%;
    height: 20%;
    width: 12%;
}
.tile:nth-child(15) {
    top: 47%;
    left: 23%;
    height: 18%;
    width: 11%;
}
.tile:nth-child(16){
    top: 46.5%;
    left: 5.5%;
    height: 11%;
    width: 14%;
}
.tile:nth-child(17) {
    top: 45%;
    left: 42%;
    height: 10%;
    width: 16%;
}