/* Stylesheet for the appearance of the page */

@font-face {
    font-family: 'anurati';
    src: url('../Anurati.otf');
}

@font-face {
    font-family: 'aquatico';
    src: url('../Aquatico.otf');
}

body {
    background: #e3decf;
}

#main {
    background: transparent;
}

.tile {
    border-radius: 2vmax;
    transition: transform 0.6s ease;
}
.tile:hover {
    transform: scale(1.1);
}

.tile:nth-child(1) {
    background: #567676;
}
.tile:nth-child(2) {
    background: #684b4b;
}
.tile:nth-child(3) {
    background: #b8b844;
}
.tile:nth-child(4) {
    background: #7f70a9;
}
.tile:nth-child(5) {
    background: #58a13f;
}
.tile:nth-child(6) {
    background: #a1455c;
}
.tile:nth-child(7) {
    background: #8ea143;
}
.tile:nth-child(8) {
    background: #6e5676;
}
.tile:nth-child(9) {
    background: #56765e;
}
.tile:nth-child(10) {
    background: #783a78;
}
.tile:nth-child(11) {
    background: #1f7a63;
}
.tile:nth-child(12) {
    background: #595140;
}
.tile:nth-child(13) {
    background: #6a6085;
}
.tile:nth-child(14) {
    background: #566776;
}
.tile:nth-child(15) {
    background: #9b5f4b;
}
.tile:nth-child(16) {
    background: #8053ac;
}

#center > p:nth-child(1) {
    font-family: 'anurati', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.6vmax;
}
#center > p:nth-child(2) {
    font-family: 'aquatico', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1vmax;
}